body {
    font-family: Georgia, Times, 'Times New Roman';
    background-color: #080707;
    text-align: center;
    padding: 80px;
}
h1 {
    color: #e20699;
}
p {
    color: #4006a5;
}
.container {
  text-align: center; /* Центрируем содержимое */
  width: 700px; /* Фиксированная ширина контейнера */
  margin: 0 auto; /* Центрирование контейнера на странице */
}

.image {
  width: 100%; /* Изображение на всю ширину контейнера */
  display: block; /* Убирает лишние отступы вокруг изображения */
  margin-bottom: 20px; /* Отступ снизу */
}

.button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}